#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.column-gap-20 {
  column-gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  select {
    padding: 5px;
    font-size: 16px;
  }
}

.incident {
  display: grid;
  grid-template-columns: 25px auto;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: 0.3s background-color ease-in-out;
}

.incident-header {
  font-weight: 700;
}

.incident:not(.incident-header) {
  &:hover {
    background-color: #000000;
  }
  .incident__date {
    text-transform: uppercase;
  }
}

@media (min-width: 601px) {
  .incidents {
    overflow-x: auto;
  }

  .incident {
    min-width: 750px;
  }

  .incident__info {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr)) repeat(
        2,
        minmax(100px, 1fr)
      );
    min-width: 700px;
  }

  .show-on-mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .incident-header {
    display: none;
  }
}
